.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
  border-radius: 40px;
  background-color: #000;
  opacity: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 32px 0 0 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.titleTwo {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: 0 16px 0 16px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.titleTwo {
  font-size: 40px;
}

.subtitle {
  font-size: 14px;
  color: white;
  margin: 16px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
  font-weight: 400;
}

.containerForm {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
}

.form {
  margin: 16px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form > div {
  border-bottom: 1px solid white;
}

.form input,
.form label,
.form svg {
  color: white;
}

.containerCheckBox {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none !important;
}

.containerCheckBox > span {
  font-size: 18px;
  color: #70a8b2;
  font-weight: 400;
  margin: 16px;
  font-style: italic;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.containerCheckBox > span:hover {
  cursor: pointer;
}

.containerBtnLogin {
  border: none !important;
}

.containerBtnLogin > button {
  background-color: #d250e0;
  width: 50%;
  height: 5vh;
  font-weight: 400;
  font-size: 28px;
  border-radius: 14px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.36);
}

.containerBtnLogin > button:hover {
  background-color: #d564e1;
}

.containerSignUp {
  width: 80%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: 400;
  margin: 16px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.containerSignUp > div {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 16px;
  color: #70a8b2;
  font-style: italic;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.9);
}

.selectClass > div,
.selectClass {
  color: white !important;
  display: flex !important;
}

.containerSignUp > div:hover {
  cursor: pointer;
}

.error {
  color: red;
  margin: 5px 0;
  background: black;
  padding: 5px 10px;
  font-weight: bold;
}

@media (width < 900px) {
  .titleTwo {
    text-align: center;
  }
}
