.appbar,
.appbar > button {
  background-color: #000 !important;
  color: #05fa05 !important;
  opacity: 0.8 !important;
}

.Mydrawer > div {
  background-color: #000 !important;
  height: auto !important;
  color: white !important;
  opacity: 0.8 !important;
}

.titleDrawerFuera {
  font-size: 20px;
  text-align: center;
  padding: 0 0 0 16px;
  color: #05fa05;
}

.titleDrawer {
  font-size: 20px;
  text-align: center;
  padding: 16px 0 0 0;
  color: #05fa05;
}

.modalInstall {
  background-color: red;
}
