.green {
  color: #05fa87;
  font-size: 0.8rem;
}

.red {
  color: rgb(236, 30, 30);
}

.tableRow th {
  font-size: 0.65rem !important;
  font-weight: bold !important;
}

.firstTableRow {
  width: 100%;
  background-color: #572d03;
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.8;
  text-align: center;
  padding: 15px 5px 0px 5px;
  max-height: 56px;
  overflow: scroll;
}

.fixed {
  position: sticky;
  z-index: 2;
  background-color: #572d03;
  left: 0;
}

.headTable {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eaad2b;
  box-sizing: border-box;
}
