.boxHistory {
  background-color: black;
  min-height: 30vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 24px;
  opacity: 0.8;
}

.active {
  opacity: 0.7;
}

.titleBox {
  /* background-color: #c7630b; */
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 0 0 10px 0;
  border: 1px solid #df2af9;
  justify-content: center;
}

.titleBox svg {
  color: #dc903b;
}

.titleBox svg {
  margin-right: 5px;
}

.subBoxHistory {
  /* border: 2px solid #e27d25; */
  padding: 12px;
  width: 100%;
  height: 100%;
}

.containerDrop {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: end;
  /* border: 1px solid #05fa05; */
}

.containerDrop svg {
  margin-right: 8px;
}

.containerHeadHistory {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DropDownHistory {
  border: 1px solid #df2af9;
  padding: 0 16px;
  text-align: center;
}

.DropDownHistory div label,
.DropDownHistory div div div,
.DropDownHistory div label:focus,
.DropDownHistory div svg {
  color: white !important;
}

.DropDownHistory div div::after {
  border-bottom: 2px solid white;
}

.DropDownHistory:disabled div {
  color: red !important;
}
