.containerAppFemale {
  background-image: url("../../assets/img/NCAA-FEMALE-HOME-BACK.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  /* display: flex; */
  /* justify-content: center; */
}

.containerInstructionsFemale {
  background-image: url("../../assets//img/NCAA-FEMALE-INSTRUCTIONS-BACK.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  /* display: flex; */
  /* justify-content: center; */
}

.containerStatsFemale {
  background-image: url("../../assets/img/NCAA-STATS_Female_backup.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  /* display: flex; */
  /* justify-content: center; */
}

.containerHistoryFemale {
  background-image: url("../../assets/img/NCAA-HISTORY_Female_Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  /* display: flex; */
  /* justify-content: center; */
  background-color: red;
}
