.boxPortfolio {
  background-color: #000;
  height: auto;
  border-radius: 20px;
  padding: 16px;
  opacity: 0.6;
}

.addPortFolio {
  display: flex;
  justify-content: end;
}
.addPortFolio button {
  margin: 10px 0;
  background-color: #05fa87;
  text-transform: capitalize;
  color: #000;
  font-weight: bold;
}
.addPortFolio button:active,
.addPortFolio button:hover {
  background-color: #000;
}

.removePortFolio button {
  margin-top: 5px;
  background-color: #05fa87;
  text-transform: capitalize;
}
.removePortFolio button:active,
.removePortFolio button:hover {
  background-color: #05fa87;
}

.headerPortfolio,
.headerPortfolio > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #05fa87;
}

.headerPortfolio div h2 {
  font-size: 32px;
}

.headerPortfolio div svg {
  margin-right: 10px;
}

.tabComponent {
  color: white !important;
  font: 20px !important;
  font-weight: bold !important;
}

.activeTab {
  color: white !important;
  font: 20px !important;
  background: #05fa87 !important;
  color: black !important;
  font-weight: bold !important;
}

.containerDropdown {
  display: flex;
  align-items: center;
}

.championshipPoints::after {
  border-bottom: 2px solid white;
  font-size: 18px;
}

.championshipPoints,
.championshipPoints svg {
  color: white !important;
}

.btnSubmit,
.btnCancel,
.btnRemove {
  width: 80%;
  text-transform: capitalize;
  box-shadow: 18px 18px 27px -7px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 18px 18px 27px -7px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 18px 18px 27px -7px rgba(0, 0, 0, 0.49);
}

.btnCancel {
  background-color: rgb(122, 7, 7);
}

.btnSubmit,
.btnRemove {
  background-color: #238b94 !important;
}

.error {
  color: red;
  margin: 5px 0;
  background: black;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
}

@media (width < 800px) {
  .boxPortfolio {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (width < 900px) {
  .btnSubmit {
    margin-bottom: 10px !important;
  }
  .btnSubmit,
  .btnCancel,
  .btnRemove {
    width: 100%;
  }
}
