.container {
  background-image: url("https://s3.mx-central-1.amazonaws.com/portfolio.pool/login/log_in_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.containerApp {
  background-image: url("../../assets/img/home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  overflow: scroll;
}

.containerHistory {
  /* background-image: url("../assets/img/details-ball-sport.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: scroll;
}

.containerStats {
  background-image: url("https://s3.mx-central-1.amazonaws.com/portfolio.pool/login/log_in_back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: scroll;
  /* background-color: red; */
}

@media (width < 900px) {
  .containerHistory {
    background-position: right;
  }
  .containerStats {
    background-position: left;
  }
}
