.boxInstructions {
  background-color: black;
  height: auto;
  padding: 20px;
  opacity: 0.75;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.titleInstructions {
  color: white;
  font-size: 30px;
  text-align: center;
}

.subBoxInstructions p {
  padding: 16px;
}

.subBoxInstructions {
  width: 100%;
  flex: 1;
  min-height: 0;
  border: 2px solid #e11bf2;
  padding: 16px;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.subBoxInstructionsBlack {
  color: black !important;
}

.highlighted {
  background-color: #dc903b;
  color: white !important;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /* opacity: 0.5; */
}

.paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* opacity: 0.5; */
}

@media (width < 900px) {
  .gridInstructions {
    min-height: 102vh;
    align-content: start !important;
    padding-top: 2rem;
  }
}
