.boxInstructions {
  background-color: black;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.51;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.titleInstructions {
  color: white;
  font-size: 30px;
  text-align: center;
}

.subBoxInstructions p {
  padding: 16px;
}

.subBoxInstructions {
  width: 100%;
  height: 100%;
  border: 1px solid #df2af9;
  padding: 16px;
  border-radius: 20px;
  overflow: scroll;
}

.subBoxInstructionsBlack {
  color: black !important;
}

.highlighted {
  background-color: #DF9B36;
  color: white !important;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.80;
}

.paragraph {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@media (width < 900px) {
  .gridInstructions {
    min-height: 102vh;
    align-content: start !important;
    padding-top: 2rem;
  }
}
