/* ? New loader */
* {
  margin: 0;
}

.splashContainer {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/img/fondo2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ball {
  position: absolute;
  bottom: 10px; /* Posición inicial */
  left: 40%;
  width: 100px;
  height: 100px;
  background: url("./basketball.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  /*animation: bounce 2s infinite;*/
  animation: bounce 1s infinite linear, spin 10s infinite linear;
}
.ballEpl {
  position: absolute;
  bottom: 20px; /* Posición inicial */
  left: 60%;
  width: 100px;
  height: 100px;
  background: url("./ball-epl.png") no-repeat;
  background-size: cover;
  border-radius: 50%;
  /*animation: bounce 2s infinite;*/
  animation: bounceEpl 1s infinite linear, spin 10s infinite linear;
}

.shadow {
  position: absolute;
  bottom: 10px; /* Posición inicial */
  left: 40%;
  width: 60px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
}
.shadowEpl {
  position: absolute;
  bottom: 10px; /* Posición inicial */
  left: 60%;
  width: 60px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -550%);
  }
  50% {
    transform: translate(-50%, 0%); /* Altura máxima del rebote */
  }
  100% {
    transform: translate(-50%, -550%);
  }
}

@keyframes bounceEpl {
  0% {
    transform: translate(-50%, -550%);
  }
  50% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -450%);
  }
}

@keyframes spin {
  100% {
    transform: translate(-50%, 0px) rotate(360deg); /* Rotación rápida */
  }
}
