* {
  margin: 0;
  padding: 0;
}

:root {
  --verde: #3ed076;
  --text-color: white;
}

body {
  font-family: "Raleway", sans-serif;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #380f65 !important;
  color: white !important;
}

.css-d1xm6m {
  background-color: #380f65 !important;
  color: white !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid black;
  background-color: #380f65;
  opacity: 0.8;
  /* height: 100%; */
  /* height: fit-content; */
}

thead {
  background-color: #200930;
  color: white !important;
  opacity: 0.8;
}

th,
td {
  text-align: left;
  padding: 16px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #380f51;
  color: black;
}

tr:nth-child(odd) {
  background-color: #380f51;
  color: white;
}
