* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #380f65 !important;
  color: white !important;
}

.css-d1xm6m {
  background-color: #380f65 !important;
  color: white !important;
}
