.PWABadgeContainer {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}
.PWABadgeToast {
  position: fixed;
  right: 0;
  top: 50%;
  right: 38%;
  margin: 16px;
  padding: 12px;
  border: 1px solid #8885;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  box-shadow: 3px 4px 5px 0 #8885;
  background-color: #3f1567;
  color: white;
}

#toastMessage,
.toastMessage {
  color: white !important;
  padding: 5px;
}

.PWABadgeToastMessage {
  margin-bottom: 8px;
}

.PWABadgeToastButton {
  border: 1px solid #8885;
  outline: none;
  margin-right: 5%;
  background: #330948;
  padding: 5px 10px;
  border-radius: 10px;
  width: 40%;
  border-color: #4b0d6a;
  color: white;
  margin-top: 5px;
  box-shadow: 3px 4px 5px 0 #343333;
}

/* comentarios innecesarios */
