.loaderContainer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 112vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
  flex-direction: column;
}

.loaderContainer img {
  opacity: 0.8 !important;
}

.rotatingImage {
  animation: rotateClockwise 2s linear infinite;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: relative;
  font-size: 48px;
  letter-spacing: 2px;
  margin-top: 24px;
}
.loader:before {
  content: "Loading";
  color: #fff;
}
.loader:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  top: -70px;
  animation: motion 3s ease-in-out infinite;
}

@keyframes motion {
  0%,
  50%,
  100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-100px) scale(0.3);
  }
  75% {
    transform: translateX(100px) scale(0.3);
  }
}
